In [1]:
import pandas as pd

In [2]:
url = 'https://mbawa1139.github.io/ETL-Project/motorcycle_accident.html'

In [3]:
tbl = pd.read_html(url)
df = tbl[0]
df = df.drop(df.columns[0], axis=1)
df

,Accident_Index,Vehicle_Type,Longitude,Latitude,Sex_of_Casualty,Age_of_Casualty
0,201001BS70008,Motorcycle,-0.175802,51.484361,Male,28
1,201001BS70011,Motorcycle,-0.217699,51.514321,Male,21
2,201001BS70016,Motorcycle,-0.173157,51.485669,Male,14
3,201001BS70016,Motorcycle,-0.173157,51.485669,Male,-1
4,201001BS70020,Motorcycle,-0.195276,51.494554,Male,23
...,...,...,...,...,...,...
114277,2014984120014,Motorcycle,-3.261808,54.987381,Male,25
114278,2014984121914,Motorcycle,-3.507553,55.408030,Male,59
114279,2014984127714,Motorcycle,-3.479810,55.118296,Male,42
114280,2014984129614,Motorcycle,-3.369973,55.352170,Male,35
114281,2014984133714,Motorcycle,-3.259829,54.988570,Male,18

In [6]:
sample_df = df.sample(frac=0.20, replace=True, random_state=1)
sample_df

,Accident_Index,Vehicle_Type,Longitude,Latitude,Sex_of_Casualty,Age_of_Casualty
98539,201406P089935,Motorcycle,-2.161884,53.632310,Male,55
77708,201314C049813,Motorcycle,-1.194401,53.422957,Male,37
5192,201001ZD30858,Motorcycle,-0.054993,51.358227,Male,-1
98047,201405FF03764,Motorcycle,-2.940952,53.375746,Male,18
50057,201201TD00089,Motorcycle,0.187626,51.466901,Male,21
...,...,...,...,...,...,...
103641,201431C116014,Motorcycle,-1.195214,52.981768,Male,43
91163,201401CW10670,Motorcycle,-0.126008,51.500932,Male,38
61319,201242I353511,Motorcycle,0.366013,51.869027,Male,35
54253,201211SC24752,Motorcycle,-1.784538,54.598339,Male,29
43494,2011530203945,Motorcycle,-2.289164,51.872414,Male,43

In [5]:
year_df = df[df["Accident_Index"].str.startswith("2010")]
year_df

,Accident_Index,Vehicle_Type,Longitude,Latitude,Sex_of_Casualty,Age_of_Casualty
0,201001BS70008,Motorcycle,-0.175802,51.484361,Male,28
1,201001BS70011,Motorcycle,-0.217699,51.514321,Male,21
2,201001BS70016,Motorcycle,-0.173157,51.485669,Male,14
3,201001BS70016,Motorcycle,-0.173157,51.485669,Male,-1
4,201001BS70020,Motorcycle,-0.195276,51.494554,Male,23
...,...,...,...,...,...,...
22198,2010984123510,Motorcycle,-3.065916,55.056917,Male,57
22199,2010984128510,Motorcycle,-3.224176,54.994676,Male,44
22200,2010984129910,Motorcycle,-3.264872,54.986441,Male,16
22201,2010984133610,Motorcycle,-3.037437,55.184504,Male,50
22202,2010984136010,Motorcycle,-2.969763,55.243383,Male,58